.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 30px;
}

.cardsWrapper{
    margin-top: 18px;
}
.wrapper{
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    padding: 10px;
}
.toggleText{
    color: var(--color-primary);
    cursor: pointer;
}

.filterWrapper{
    margin-top: 15px;

}