.outerBox{
    width: 100vw;

    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    gap:40px
}

.text{
    /* width: 80%; */
    font-weight: bold;
    text-align: center;
    
}

.image{
    /* width: 20%; */
}