.outerBox{
    width: 100vw;
    padding: 120px 80px 80px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);

}

.text{
    width: 80%;
    font-weight: bold;
    text-align: center;
    
}

.image{
    width: 20%;
}